name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: '1.24'
      # Cosign installation for signing artifacts
      - name: Install cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
        with:
          cosign-release: v2.5.0
      # Setup Cosign keys for signing
      - name: Setup Cosign keys
        run: echo "${{ secrets.SYNCED_COSIGN_PRIVATE_KEY }}" > cosign.key
      # Run GoReleaser to build and upload assets to the release
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COSIGN_PASSWORD: ${{ secrets.SYNCED_COSIGN_PASSWORD }}
      # Clean up sensitive files
      - name: Clean up
        if: always()
        run: rm -f cosign.key
      - name: Update Release Notes with gh CLI
        run: gh release edit "$TAG_NAME" --draft --notes-file <(gh api repos/${{ github.repository }}/releases/generate-notes -F "tag_name=$TAG_NAME" -q .body)
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
          TAG_NAME: ${{ github.ref_name }}
